/* Float four columns side by side */
.memory-card {
  
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 15rem;
  height: 28rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #48dff9   
}
    
  /* Style the counter cards */
.memory-frame {
    
    /* margin: 10px 20px;
    flex-direction: column;
    background: #fff;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    align-self: normal;
    text-align: center;
    background-color: #a3d9f6;
    height: 450px;
    position: relative;
    display: flex;
    font-family: "Roboto", sans-serif; */
}

.memory-frame h4 {
    text-transform: uppercase;
    margin: 10px 0;
}

/* .memory-delete-button {
    border-radius: 5px;
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 5px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
} */

/* .memory-delete-button {
    position: relative;
    background-color: #e04b52;
    border: none;
    border-radius: 5px;
    height: 3rem;
    width: max-content;
    color: whitesmoke;
    font-size: 18px;
    justify-self: center;
} */



.memory-button {
    border-radius: 5px;
}

.nav-wrapper {
    background-color: rgb(44, 44, 247);
    font-family: "Roboto", sans-serif;
    
}


nav .brand-logo {
    font-size: 50px;
    font-family: fantasy;
    text-transform: uppercase;
} 

