
.memory-card {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 15rem;
  height: 28rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #48dff9   
}
    

.memory-frame h4 {
    text-transform: uppercase;
    margin: 10px 0;
}


.memory-button {
    border-radius: 5px;
}

.nav-wrapper {
    background-color: rgb(44, 44, 247);
    font-family: "Roboto", sans-serif;
    }


nav .brand-logo {
    font-size: 50px;
    font-family: fantasy;
    text-transform: uppercase;
} 

